node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/three_examples_jsm_controls_OrbitControls__js.js
node_modules/.vite/deps/three_examples_jsm_controls_OrbitControls__js.js.map
node_modules/.vite/deps/three_examples_jsm_controls_PointerLockControls__js.js
node_modules/.vite/deps/three_examples_jsm_controls_PointerLockControls__js.js.map
node_modules/.vite/deps/three_examples_jsm_libs_stats__module__js.js.map
node_modules/.vite/deps/three_examples_jsm_loaders_GLTFLoader__js.js
node_modules/.vite/deps/three_examples_jsm_loaders_GLTFLoader__js.js.map
node_modules/.vite/deps/three_examples_jsm_math_Capsule__js.js
node_modules/.vite/deps/three_examples_jsm_math_Octree__js.js
node_modules/.vite/deps/three_examples_jsm_math_Octree__js.js.map
node_modules/.vite/deps/three.js
